@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
    scroll-behavior: smooth;
}

html{
    background-color: #171427;
    font-size: 12px;  
    @media (min-width: 800px) {
        font-size: 14px;
      }  
    @media (min-width: 1200px) {
        font-size: 25px;
      }
    }

body::-webkit-scrollbar {
    display: none;
}

canvas {
position: fixed;
top: 0;
left: 0;
}