@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Pathway Gothic One', sans-serif;
    scroll-behavior: smooth;
}

html{
    background-color: #1c1c1c;

}

body::-webkit-scrollbar {
    display: none;
}

canvas {
position: fixed;
top: 0;
left: 0;
}